@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <div class="text-left">
        <h2 class="text-capitalize">Manage DB</h2>
        <div class="list-inline">
            <p>Go To <a href="https://localhost:44383/Incidents/index">Incident</a>.</p>
            <p>Go To <a href="https://localhost:44383/Customers/index">Customer</a>.</p>
            <p>Go To <a href="https://localhost:44383/Addresses/index">Address</a>.</p>
            <p>Go To <a href="https://localhost:44383/Categories/index">Category</a>.</p>
            <p>Go To <a href="https://localhost:44383/Applications/index">Application</a>.</p>
            <p>Go To <a href="https://localhost:44383/RegistryChanges/index">RegistryChange</a>.</p>
            <p>Go To <a href="https://localhost:44383/SecondLevels/index">SecondLevel</a>.</p>
            <p>Go To <a href="https://localhost:44383/Prints/index">Print</a>.</p>
            <p>Go To <a href="https://localhost:44383/PrintStep1/index">PrintStep1</a>.</p>
            <p>Go To <a href="https://localhost:44383/PrintStep02/index">PrintStep02</a>.</p>
            <p>Go To <a href="https://localhost:44383/Status/index">Status</a>.</p>
            <p>Go To <a href="https://localhost:44383/Urgencies/index">Urgency</a>.</p>
        </div>
    </div>
    
</div>
